@model List<Casgem_CQRS_DesignPattern.CQRSPattern.Results.GetProductQueryResult>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Marka</th>
            <th>Kategori</th>
            <th>Stok</th>
            <th>Fiyat</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Getir</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Name</td>
                <td>@item.Brand</td>
                <td>@item.Category</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td><a asp-action="DeleteProduct" asp-route-id="@item.ProductID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Defaut/UpdateProduct/@item.ProductID" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Defaut/GetProduct/@item.ProductID" class="btn btn-info">Getir</a></td>
            </tr>
        }
    </table>
</div>